# PyCitySchools Analysis

Two datasets are provided to analyze student test performance in math and reading of the PyCity Independent School District (PyISD). The ISD would like to examine the relationships between funding and student performance for this year's fiscal planning cycle. The ISD is under a lot of pressure to reduce costs so the city can divert funding to the I-35 expansion and hopefully finish the project by 2035. The analysis will provide recommendations on areas for further investigation by PyISD administration. <br> <br>

## PyCity ISD Summary
PyCity ISD has a current enrollment of 39,170 students and operates a mixed-type configuration with seven district schools and eight charter schools. The current budget for the ISD is $ 24,649,428. The average student math score is 79 with 75.0\% of the students passing. The average student reading score is 82 with 85.8\% of the students passing. Overall, 65.2\% of the students in the ISD are passing both tests. Passing is defined as a score greater than or equal to 70.

The top five performing schools (Cabrera, Thomas, Griffin, Wilson, and Pena) all achieved overall passing rates greater than 90\%, with average math scores of 83 and average reading scores of 84. All five schools are charter type and span all but the highest group of spending per student metrics. The five schools also cover the small, medium, and large designations for student population.

The bottom five performing schools (Rodriguez, Figueroa, Huang, Hernandez, and Johnson) have overall passing rates slightly above 50\%, with average math scores of 77 and average reading scores of 81. All five schools are district type, and all have greater than $635 spending per student metrics. The five schools have large enrollments, with three schools having 4,000 or more students and two of the schools having nearly 3,000. <br> <br>

## Performance as a Function of Funding
Conventional wisdom would point to a positive linear relationship of funding and performance, as one expects an investment to yield a positive return. PyISD testing data offers a reversal in conventional wisdom. Grouping the schools into four categories of spending per student, one can see that the percent passing overall drops sharply once a school spends $ 630-$645 per student. The schools spending the least per student (under $ 585) are performing the best with 90% passing both tests.

Republican rejoice, we can cut taxes and slash funding some more! But before this potential mistake is made, one should also acknowledge the datasets that are missing. Spending per student is a sufficient but not necessary metric to gauge performance. The data provided did not present information on faculty size or the number of 504 students enrolled (which could be used to determine the range of pay at a school, since specialists typically have higher salaries). Faculty size would point to the teacher/student ratio and shed light on the costs associated with school administrators, who like specialists have significantly higher salaries than teachers. Separating the payroll of instructors and administration allows for a better picture of the teacher-to-student ratio. <br> <br>

## Performance as a Function of School Size

PyCity has been the fastest-growing metro area in the country for nearly a decade, with no end in sight. Business-friendly tax cuts and lax regulations have seen corporations flock to the area. Like other areas of infrastructure, the city has been struggling to keep up with the YoY double-digit population increases. Looking at school performance as a function of school size will allow one to see the effects of expansion. Math scores see a small (6-7) point drop-off when enrollment is greater than 2000 students, with minimal differences in reading scores. On a percent passing basis, there is minimal difference in the math, reading, and overall test scores for schools with less than 2000 student enrollment. Once the jump to large schools is made, a different story plays out, with 58\% passing overall compared to the 90\% overall passing for schools under 2000 students.

This data suggests that overcrowding and large schools have a significant impact on the percent of students passing. Notice that the spread in scores is minimal, meaning low test scores are dragging the average scores down more significantly at large schools. Similar to the request for faculty size earlier, a teacher-to-student ratio would be extremely beneficial.

## Performance as a Function of School Type

At the heart of the current debate around education in this country, charter schools have emerged as the seemingly miraculous solution to both falling test scores and rising costs of education. The data from PyISD suggests this as well. Charter schools are drastically outperforming district schools, with the overall passing rate 46\% higher in charter schools. Test scores in math and reading for charter schools are 83 and 84, respectively, while district schools are scoring 77 and 81, respectively. There is a large discrepancy in the rate of students passing math and reading as well, with charter schools passing 94\% of students in math and 97\% of students in reading. This again stands in stark contrast to the district schools, with only 67\% of students passing math and 81\% passing reading.

Charter schools are the answer? Maybe, but there's probably more to it than that. Something curious to note is that only one charter school has an enrollment larger than 2000 students, while the smallest district school has an enrollment of 2700. We saw earlier that scores fall off the cliff at 2000+ enrollment, and it shouldn't surprise anyone that if almost all charter schools are small, then they must perform better. School type and size may be interchangeable in the current PyISD landscape.

## Conclusion
Based on the provided data, we can draw these conclusions:

* Funding plays less into student performance than conventional (business) wisdom would dictate. We found that the spending per student didn't have much of an impact on performance, as we had instances of schools covering nearly the entire range of funding performing well. The highest spending schools are some of the worst performing, meaning more money does actually equal more problems.

* School size is the KPI that needs attention. We are finding time and time again that the size of a school has the biggest impact on passing rates. Note that we see drops in test score (roughly 10\% from medium to large schools), but we see a nearly 25\% drop in passing rates of math. This drop is not as large in reading, indicating that the two subjects may need to be approached from different CI philosophies.

* Charter schools appear to be the answer, but there are still more questions. Charter schools span the range of spending per student but did not have many schools with large enrollment. The most expensive schools in PyISD are district schools with larger enrollments. Since there is only one charter school with larger than 2000 student enrollment, it is difficult to compare the PyISD district schools to charter schools simply because that would just be a comparison of small/medium enrollment to large enrollment performance.

What's missing from this analysis is the faculty employment numbers, ideally with years of service included. All PyISD employees are state government employees and have published and publicly available pay rates. By analyzing the payroll, one can determine what the teacher-to-student ratio is and how it differs from the faculty-to-student ratio. Administrators may or may not have a direct impact on student performance (do you really think the PyISD accounting team is playing a crucial role in the students learning Algebra II?) and the inclusion of their disproportionate salaries may be dragging the spend per student higher for the larger schools.

Charter schools may not be the correct solution for falling test scores, but it is the necessary reset that might be needed for education. With the melding of corporate values into our civic values in the 1980s, conventional wisdom held that economies of scale and business practices could transfer to all sorts of other industries. But a Fortune 500 company isn't a high school. Management cannot "fire" a student and replace them with another worker. The charter schools in PyISD indicate that school enrollment should be capped and new schools should be added.

Lastly, it should be noted that the focus on average scores should be taken into consideration with the standard deviation of scores. A quick analysis of the dataset yielded a significantly higher standard deviation in test scores for the poorly performing schools, indicating that a larger number of poor test results were skewing the data. It should be obvious at this point now that with the presence of such a large number of at-risk students, the only way to boost overall performance is to address these students' needs, and the first step is posting a job requisition for a math teacher.

In [47]:
#Dependencies and Setup
import pandas as pd
from pathlib import Path

#Load and Read Files
school_data_csv = Path("Resources/schools_complete.csv")
student_data_csv = Path("Resources/students_complete.csv")

school_data = pd.read_csv(school_data_csv)
student_data = pd.read_csv(student_data_csv)

#Merge Datasets
school_data_complete = pd.merge(student_data, school_data, how="left", on =["school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

In [2]:
#Total Number of Unique Schools
school_count = len(school_data_complete["School ID"].unique())

school_count

15

In [3]:
#Total Number of Students
student_count = len(school_data_complete["Student ID"].unique())

student_count

39170

In [4]:
#Total Budget ($)
total_budget = school_data["budget"].sum()

total_budget

24649428

In [5]:
#Average Math Score
average_math_score = school_data_complete["math_score"].mean()

average_math_score

78.98537145774827

In [6]:
#Average Reading Score
average_reading_score = school_data_complete["reading_score"].mean()

average_reading_score

81.87784018381414

In [7]:
#Passing Math Percentage (Grade >= 70)
passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / student_count * 100

passing_math_percentage

74.9808526933878

In [8]:
#Passing Reading Percentage (Grade >= 70)
passing_reading_count = school_data_complete[(school_data_complete["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / student_count * 100

passing_reading_percentage

85.80546336482001

In [9]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
overall_passing_rate

65.17232575950983

In [10]:
#Disctrict Summary Table
district_summary_df = pd.DataFrame({
    "Total Schools": [school_count],
    "Total Students": [student_count],
    "Total Budget": [total_budget],
    "Average Math Score": [average_math_score],
    "Average Reading Score": [average_reading_score],
    "% Passing Math": [passing_math_percentage],
    "% Passing Reading": [passing_reading_percentage],
    "% Overall Passing": [overall_passing_rate]
})

district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)
district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)

district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

## School Summary

In [11]:
#Select the School Types in the District
school_types = school_data_complete.groupby("school_name")["type"].unique().str.join(', ')

school_types

school_name
Bailey High School       District
Cabrera High School       Charter
Figueroa High School     District
Ford High School         District
Griffin High School       Charter
Hernandez High School    District
Holden High School        Charter
Huang High School        District
Johnson High School      District
Pena High School          Charter
Rodriguez High School    District
Shelton High School       Charter
Thomas High School        Charter
Wilson High School        Charter
Wright High School        Charter
Name: type, dtype: object

In [12]:
#School Enrollment per school
total_students_per_school = school_data_complete.groupby("school_name")["size"].count()

total_students_per_school

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: size, dtype: int64

In [13]:
#Convert the size and budget to integers
school_data = school_data.astype({"School ID": object})

school_data.dtypes

School ID      object
school_name    object
type           object
size            int64
budget          int64
dtype: object

In [14]:
#Calculate the Total Budget per school
per_school_budget = school_data_complete.groupby("school_name")["budget"].mean()

per_school_budget

school_name
Bailey High School       3124928.0
Cabrera High School      1081356.0
Figueroa High School     1884411.0
Ford High School         1763916.0
Griffin High School       917500.0
Hernandez High School    3022020.0
Holden High School        248087.0
Huang High School        1910635.0
Johnson High School      3094650.0
Pena High School          585858.0
Rodriguez High School    2547363.0
Shelton High School      1056600.0
Thomas High School       1043130.0
Wilson High School       1319574.0
Wright High School       1049400.0
Name: budget, dtype: float64

In [15]:
#Calculate the per capita spending for each school
school_data_complete["per_student_budget"] = (school_data_complete["budget"] / school_data_complete["size"])
per_capita = school_data_complete.groupby("school_name")["per_student_budget"].mean()

per_capita

school_name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
Name: per_student_budget, dtype: float64

In [16]:
#Calculate the average math scores for each school
per_school_math = school_data_complete.groupby("school_name")["math_score"].mean()

per_school_math

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [17]:
#Calculate the average reading scores for each school
per_school_reading = school_data_complete.groupby("school_name")["reading_score"].mean()

per_school_reading

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [18]:
#Percent of students passing Math per school
per_school_math_passing = school_data_complete[school_data_complete["math_score"] >= 70].groupby("school_name").count()["student_name"] / (total_students_per_school) * 100

per_school_math_passing

school_name
Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
dtype: float64

In [19]:
#Percent of students passing Reading per school
per_school_reading_passing = school_data_complete[school_data_complete["reading_score"] >= 70].groupby("school_name").count()["student_name"] / (total_students_per_school) * 100

per_school_reading_passing

school_name
Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
dtype: float64

In [20]:
#Percent of students passing both subjects
students_passing_math_and_reading = school_data_complete[
    (school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)
]
school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["school_name"]).size() / (total_students_per_school) * 100

school_students_passing_math_and_reading

school_name
Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       90.948012
Wilson High School       90.582567
Wright High School       90.333333
dtype: float64

In [21]:
#Create the summary DataFrame for the School Summary
per_school_summary = pd.DataFrame({
    "School Type": school_types,
    "Total Students": total_students_per_school,
    "Total School Budget": per_school_budget,
    "Per Student Budget": per_capita,
    "Average Math Score": per_school_math,
    "Average Reading Score": per_school_reading,
    "% Passing Math": per_school_math_passing,
    "% Passing Reading": per_school_reading_passing,
    "% Overall Passing": school_students_passing_math_and_reading
})

#Format the table
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)

per_school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,93.333333,96.611111,90.333333

## Highest Performing Schools (by % Overall Passing)

In [22]:
#Sort schools in decending order by % oveall Passing
top_schools = per_school_summary.sort_values("% Overall Passing", ascending = False)

top_schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541

In [22]:
#Sort schools in decending order by % oveall Passing
top_schools = per_school_summary.sort_values("% Overall Passing", ascending = False)

top_schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541

## Lowest Performing Schools (by % Overall Passing)

In [23]:
#Sort schools in ascending order by % oveall Passing
bottom_schools = per_school_summary.sort_values("% Overall Passing", ascending = True)

bottom_schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172

## Math Scores by Grade

In [24]:
#Create lists for each of the four grade levels (9th - 12th)
ninth_graders = school_data_complete[school_data_complete["grade"] == "9th"]
tenth_graders = school_data_complete[school_data_complete["grade"] == "10th"]
eleventh_graders = school_data_complete[school_data_complete["grade"] == "11th"]
twelfth_graders = school_data_complete[school_data_complete["grade"] == "12th"]

#Group by `school_name` and take the mean of the `math_score` column for each grade level
ninth_grade_math_scores = ninth_graders.groupby("school_name")["math_score"].mean()
tenth_grade_math_scores = tenth_graders.groupby("school_name")["math_score"].mean()
eleventh_grade_math_scores = eleventh_graders.groupby("school_name")["math_score"].mean()
twelfth_grade_math_scores = twelfth_graders.groupby("school_name")["math_score"].mean()

#Combine each of the scores above into a single DataFrame called `math_scores_by_grade`
math_scores_by_grade = pd.DataFrame({
    "9th": ninth_grade_math_scores,
    "10th": tenth_grade_math_scores,
    "11th": eleventh_grade_math_scores,
    "12th": twelfth_grade_math_scores  
})

#Minor data wrangling
math_scores_by_grade.index.name = None

#Display the DataFrame
math_scores_by_grade

                             9th       10th       11th       12th
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

## Reading Scores by Grade

In [25]:
#Create lists for each of the four grade levels (9th - 12th)
ninth_graders = school_data_complete[school_data_complete["grade"] == "9th"]
tenth_graders = school_data_complete[school_data_complete["grade"] == "10th"]
eleventh_graders = school_data_complete[school_data_complete["grade"] == "11th"]
twelfth_graders = school_data_complete[school_data_complete["grade"] == "12th"]

#Group by `school_name` and take the mean of the `math_score` column for each grade level
ninth_grade_reading_scores = ninth_graders.groupby("school_name")["reading_score"].mean()
tenth_grade_reading_scores = tenth_graders.groupby("school_name")["reading_score"].mean()
eleventh_grade_reading_scores = eleventh_graders.groupby("school_name")["reading_score"].mean()
twelfth_grade_reading_scores = twelfth_graders.groupby("school_name")["reading_score"].mean()

#Combine each of the scores above into a single DataFrame called `math_scores_by_grade`
reading_scores_by_grade = pd.DataFrame({
    "9th": ninth_grade_reading_scores,
    "10th": tenth_grade_reading_scores,
    "11th": eleventh_grade_reading_scores,
    "12th": twelfth_grade_reading_scores  
})

#Minor data wrangling
reading_scores_by_grade.index.name = None

#Display the DataFrame
reading_scores_by_grade

                             9th       10th       11th       12th
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

## Scores by School Spending

In [26]:
#Establish the bins 
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [27]:
#Create a copy of the school summary since it has the "Per Student Budget" 
school_spending_df = per_school_summary.copy()

school_spending_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,93.333333,96.611111,90.333333

In [28]:
#Convert "Per Student Budget" column to string and remove the non-numeric values we added earlier
school_spending_df["Per Student Budget"] = school_spending_df["Per Student Budget"].astype(str)
school_spending_df["Per Student Budget"] = school_spending_df["Per Student Budget"].str.replace("$", "").str.replace(",", "")

#Now we can convert "Per Student Budget" column to numeric to resolve the int-str error in our bins
school_spending_df["Per Student Budget"] = pd.to_numeric(school_spending_df["Per Student Budget"])

#Apply pd.cut() to categorize spending based on the bins
school_spending_df["Spending Ranges (Per Student)"] = pd.cut(
    school_spending_df["Per Student Budget"],
    spending_bins,
    labels=labels,
    include_lowest=True
)

school_spending_df

C:\Users\grant\AppData\Local\Temp\ipykernel_17456\1210234095.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  school_spending_df["Per Student Budget"] = school_spending_df["Per Student Budget"].str.replace("$", "").str.replace(",", "")

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,Spending Ranges (Per Student)
school_name,,,,,,,,,,
Bailey High School,District,4976,"$3,124,928.00",628.0,77.048432,81.033963,66.680064,81.933280,54.642283,$585-630
Cabrera High School,Charter,1858,"$1,081,356.00",582.0,83.061895,83.975780,94.133477,97.039828,91.334769,<$585
Figueroa High School,District,2949,"$1,884,411.00",639.0,76.711767,81.158020,65.988471,80.739234,53.204476,$630-645
Ford High School,District,2739,"$1,763,916.00",644.0,77.102592,80.746258,68.309602,79.299014,54.289887,$630-645
Griffin High School,Charter,1468,"$917,500.00",625.0,83.351499,83.816757,93.392371,97.138965,90.599455,$585-630
Hernandez High School,District,4635,"$3,022,020.00",652.0,77.289752,80.934412,66.752967,80.862999,53.527508,$645-680
Holden High School,Charter,427,"$248,087.00",581.0,83.803279,83.814988,92.505855,96.252927,89.227166,<$585
Huang High School,District,2917,"$1,910,635.00",655.0,76.629414,81.182722,65.683922,81.316421,53.513884,$645-680
Johnson High School,District,4761,"$3,094,650.00",650.0,77.072464,80.966394,66.057551,81.222432,53.539172,$645-680
Pena High School,Charter,962,"$585,858.00",609.0,83.839917,84.044699,94.594595,95.945946,90.540541,$585-630
Rodriguez High School,District,3999,"$2,547,363.00",637.0,76.842711,80.744686,66.366592,80.220055,52.988247,$630-645
Shelton High School,Charter,1761,"$1,056,600.00",600.0,83.359455,83.725724,93.867121,95.854628,89.892107,$585-630
Thomas High School,Charter,1635,"$1,043,130.00",638.0,83.418349,83.848930,93.272171,97.308869,90.948012,$630-645
Wilson High School,Charter,2283,"$1,319,574.00",578.0,83.274201,83.989488,93.867718,96.539641,90.582567,<$585
Wright High School,Charter,1800,"$1,049,400.00",583.0,83.682222,83.955000,93.333333,96.611111,90.333333,<$585

In [29]:
#Calculate averages for the desired columns
spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Math Score"].mean()
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Math"].mean()
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean()
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Overall Passing"].mean()

In [30]:
#Assemble into DataFrame
spending_summary = pd.DataFrame({
    "Math Scores (avg)": spending_math_scores,
    "Reading Scores (avg)": spending_reading_scores,
    "% Passing Math": spending_passing_math,
    "% Passing Reading": spending_passing_reading,
    "% Passing Overall": overall_passing_spending    
}) 

#Display results
spending_summary

,Math Scores (avg),Reading Scores (avg),% Passing Math,% Passing Reading,% Passing Overall
Spending Ranges (Per Student),,,,,
<$585,83.455399,83.933814,93.460096,96.610877,90.369459
$585-630,81.899826,83.155286,87.133538,92.718205,81.418596
$630-645,78.518855,81.624473,73.484209,84.391793,62.857656
$645-680,76.997210,81.027843,66.164813,81.133951,53.526855

## Scores by School Size

In [31]:
#Establish the bins
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [32]:
per_school_summary["School Size"] = pd.cut(
    per_school_summary["Total Students"],
    size_bins,
    labels=labels,
    include_lowest=True
)

per_school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,School Size
school_name,,,,,,,,,,
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,54.642283,Large (2000-5000)
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769,Medium (1000-2000)
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476,Large (2000-5000)
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,54.289887,Large (2000-5000)
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455,Medium (1000-2000)
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508,Large (2000-5000)
Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,92.505855,96.252927,89.227166,Small (<1000)
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884,Large (2000-5000)
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172,Large (2000-5000)
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541,Small (<1000)
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247,Large (2000-5000)
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724,93.867121,95.854628,89.892107,Medium (1000-2000)
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012,Medium (1000-2000)
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567,Large (2000-5000)
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,93.333333,96.611111,90.333333,Medium (1000-2000)

In [33]:
#Calculate averages for the desired columns. 
size_math_scores = per_school_summary.groupby(["School Size"])["Average Math Score"].mean()
size_reading_scores = per_school_summary.groupby(["School Size"])["Average Reading Score"].mean()
size_passing_math = per_school_summary.groupby(["School Size"])["% Passing Math"].mean()
size_passing_reading = per_school_summary.groupby(["School Size"])["% Passing Reading"].mean()
size_overall_passing = per_school_summary.groupby(["School Size"])["% Overall Passing"].mean()

In [34]:
#Assemble into DataFrame
size_summary = pd.DataFrame({
    "Math Scores (avg)": size_math_scores,
    "Reading Scores (avg)": size_reading_scores,
    "% Passing Math": size_passing_math,
    "% Passing Reading": size_passing_reading,
    "% Passing Overall": size_overall_passing    
}) 

#Display results
size_summary

,Math Scores (avg),Reading Scores (avg),% Passing Math,% Passing Reading,% Passing Overall
School Size,,,,,
Small (<1000),83.821598,83.929843,93.550225,96.099437,89.883853
Medium (1000-2000),83.374684,83.864438,93.599695,96.790680,90.621535
Large (2000-5000),77.746417,81.344493,69.963361,82.766634,58.286003

## Scores by School Type

In [35]:
# Group the per_school_summary DataFrame by "School Type" and average the results.
average_math_score_by_type = per_school_summary.groupby(["School Type"])["Average Math Score"].mean()
average_reading_score_by_type = per_school_summary.groupby(["School Type"])["Average Reading Score"].mean()
average_percent_passing_math_by_type = per_school_summary.groupby(["School Type"])["% Passing Math"].mean()
average_percent_passing_reading_by_type = per_school_summary.groupby(["School Type"])["% Passing Reading"].mean()
average_percent_overall_passing_by_type = per_school_summary.groupby(["School Type"])["% Overall Passing"].mean()

In [36]:
#Assemble into DataFrame
type_summary = pd.DataFrame({
    "Math Scores (avg)": average_math_score_by_type,
    "Reading Scores (avg)": average_reading_score_by_type,
    "% Passing Math": average_percent_passing_math_by_type,
    "% Passing Reading": average_percent_passing_reading_by_type,
    "% Passing Overall": average_percent_overall_passing_by_type    
}) 

#Display results
type_summary

,Math Scores (avg),Reading Scores (avg),% Passing Math,% Passing Reading,% Passing Overall
School Type,,,,,
Charter,83.473852,83.896421,93.620830,96.586489,90.432244
District,76.956733,80.966636,66.548453,80.799062,53.672208